@import "tailwindcss";

:root {
  --background: #d4f3e6;
  --foreground: #171717;
}


@theme inline {
  --color-mint-green-50: #f2fbf7;
  --color-mint-green-100: #d4f3e6;
  --color-aqua-green-200: #a9e6cf;
  --color-turquoise-green-300: #76d2b4;
  --color-emerald-green-400: #57bd9e;
  --color-forest-green-500: #309c7d;
  --color-moss-green-600: #247d65;
  --color-jungle-green-700: #206553;
  --color-pine-green-800: #1e5145;
  --color-dark-green-900: #1d443a;
  --color-deep-green-950: #0b2822;
}

@theme inline {
  --font-sans: var(--font-roboto);
}

body {
  background: var(--background);
}

